<div id="home" class="top" data-stellar-ratio="0.2">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logo">
            
        </div>
        <!--Navigation-->
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right ">
            <div class="nav">
                <ul class="navi">
                    <li ><a href="#features">Features</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#/loginsuccess">Record</a></li>
                    <li><a href="#/login">Log in</a></li>
                    <li><a href="#/signin">Sign up</a></li>
                    <!--<li><a href="#/videos">Videos</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="banner">
    <div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner">
            <div class="item active" >
                <div class="overlay"></div>
                <video class="video" autoplay loop muted data-stellar-ratio="0.5">
                    <source src="video/demo.webm" type="video/webm">
                    <source src="video/demo.mp4" type="video/mp4">
                </video>
                <div class="carousel-caption" data-stellar-ratio="0.3">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>A totally new way</h1>
                                <h2>To help surgeons for face formation.</h2>
                                <div class="btn-orange"><a href="#signup">Try FaceDeformation for FREE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div><!-- /.carousel -->
</section>
